* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Arial, sans-serif;
}

:root {
  --primary: #007bff;
  --primary-hover: #0056b3;
  --color: #fff;
  --bg: #f2f2f2;
  --border-color: #ddd;
}

.container {
  width: min(96%, 1350px);
  margin-inline: auto;
}

.page-content {
  margin-bottom: 2rem;
}

.page-header a {
  text-decoration: none;
  color: var(--primary);
}

/* FOOTER section */
.footer {
  background-color: var(--primary-hover);
  margin-top: 1rem;
}
.footer-content {
  width: min(96%, 1350px);
  margin-inline: auto;
  padding-block: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logos {
  height: 100%;
}

.footer-logos img {
  height: 3rem;
  margin-block: auto;
}
.footer-logos img:nth-last-of-type {
  margin-left: 0.5rem;
} 

/* OTHERS */
.surface {
  background-color: var(--bg);
}

.icon {
  font-size: 1.1rem;
}

.link {
  display: inline-block;
  color: var(--primary);
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}


/* TOAST messages */
.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 0.3rem;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 30px;
  font-size: 17px;
  opacity: 0.85;
  transition: opacity 0.5s, visibility 0.5s;
}
.toast.show {
  visibility: visible;
  opacity: 0.8;
}
